/* google font */
@import url('https://fonts.googleapis.com/css2?family=Inter:wght@100..900&display=swap');

.inter-font {
    font-family: "Inter", sans-serif;
    font-optical-sizing: auto;
    font-style: normal;
    background-color: #111;
}

/* common css */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

a {
    text-decoration: none;
}

ul,
ol {
    list-style-type: none;
}

.container {
    width: 1100px;
    margin: 0 auto;
}

/* nav part style */
nav {
    display: flex;
    justify-content: space-between;
    padding: 57px 0;
    align-items: center;
}

h1 {
    font-size: 2.60rem;
    font-weight: 800;
    color: #E6533C;
}

nav ul {
    display: flex;
    justify-content: space-around;
    gap: 47px;
    border: 1px solid #222;
    border-radius: 40px;
    align-items: center;
    padding-right: 1rem;
}

nav ul li:first-child {
    background-color: #E6533C;
    border-radius: 40px;
    padding: 8px 20px;
    margin: 2px;
}

nav li a {
    color: #ffffff;
    font-size: 1.3rem;
}

.Fitness_item i {
    display: none;
    color: #fff;
    font-size: 2rem;
}

/* banner part style */
.banner {
    display: flex;
    justify-content: space-between;
}

.banner_text {
    margin-top: 6rem;
}

.banner_text h1 {
    font-size: 4.87rem;
    font-weight: bold;
    color: #ffffff;
}

.banner_text span {
    font-style: italic;
    font-family: "Miama";
    src: url("Font/Miama.ttf") format("truetype");
}


.banner_text p {
    font-style: italic;
    font-size: 1rem;
    color: rgba(117, 116, 116, 0.9);
    font-family: "Inter", sans-serif;
    font-style: normal;
    margin: 1.55rem 1.55rem 1.55rem 0;
}

.common-btn {
    background-color: #E6533C;
    border: none;
    padding: 1rem 4rem;
    border-radius: 3.5rem;
    color: #fff;
    font-size: 1rem;
}

.common-btn:hover {
    background-color: #141815;
    transition: 1s;
}


.download_btn {
    background-color: #000;
    border: 1px solid #bbbaba;
    padding: 1rem 4rem;
    border-radius: 3.5rem;
    color: #fff;
    font-size: 1rem;
    margin-left: 20px;
}

.banner_img {
    height: 680px;
}

.banner_img img {
    width: 100%;
}

.free_working_video {
    padding: 17px;
    padding-left: 0;
    text-align: center;
    border-radius: 12px;
    margin: 0;
    width: 14rem;
    background-color: rgba(95, 95, 95, .6);
    z-index: 1;
    position: relative;
    right: -14rem;
    top: -28rem;
}

.free_working_video h3 {
    font-size: 2.50rem;
    font-weight: bold;
    color: #fff;
}

.free_working_video,
.tutorial_box small {
    color: #ffffff;
}

.tutorial_box {
    padding: 17px;
    padding-top: 0;
    text-align: center;
    border-radius: 12px;
    width: 14rem;
    background-color: rgba(95, 95, 95, .6);
    z-index: 1;
    position: relative;
    left: -8rem;
    top: -16rem;
}

.tutorial_box h3 {
    font-size: 1.50rem;
    font-weight: bold;
    color: #fff;
}

.free_working_video small {
    color: #ffffff;
}

.ball_icon {
    height: 30px;
    width: 30px;
    background-color: #E6533C;
    border-radius: 50%;
    position: relative;
    top: 2.50rem;
}

.ball_text {
    text-align: start;
    margin-left: 3rem;
}

/* change your habit part style */
.Habits {
    text-align: center;
}

.common_header {
    margin-bottom: 40px;
}

.common_header h3 {
    font-size: 2.50rem;
    font-weight: bold;
    color: #fff;
}

.common_header p {
    font-size: 1rem;
    color: rgba(146, 146, 146, 0.9);
    font-family: "Inter", sans-serif;
    font-style: normal;
    line-height: 28px;
    margin: 6px 0;
}

.habits_items {
    display: flex;
    justify-content: space-around;
}

.habits_item img {
    height: 200px;
    width: 200px;
    border: 2px solid rgb(73, 70, 70);
    border-radius: 50%;
}

.habits_texts {
    margin-top: 20px;
}

.habits_texts h4 {
    font-size: 1.50rem;
    font-weight: bold;
    color: #fff;
}

.habits_texts p {
    font-size: 1rem;
    color: rgba(116, 115, 115, 0.9);
    font-family: "Inter", sans-serif;
    font-style: normal;
    margin: 6px 0;
}

/* Run an Extra Mile Easily */
.easily_content {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 20px 35px;
    border-radius: 16px;
    background-color: rgb(43, 43, 43);
    margin: 90px 0;
}

.easily_text {
    width: 40%;
    margin-left: 40px;
}

.easily_text h3 {
    width: 80%;
}

.easily_text>.common_header p {
    margin: 20px 0;
}

.easily_img img {
    height: 250px;
    width: 350px;
    border-radius: 16px;
}

/* Trainings and Exercises */
.training_context {
    margin: 100px 0;
}

.training_first_row,
.training_second_row {
    display: flex;
}

.first_img {
    position: relative;
    z-index: 1;
    height: 300px;
    width: 300px;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    z-index: -1;
}

.img_color_one {
    background-color: rgba(80, 228, 228, 0.4);
    position: absolute;
    content: "";
    height: 100%;
    width: 100%;
}

.img_color_one p {
    font-size: 1rem;
    font-weight: 700;
    margin-left: 40px;
    margin-top: 160px;
}

.img_color_two {
    background-color: rgba(218, 21, 21, 0.4);
    position: absolute;
    content: "";
    height: 100%;
    width: 100%;
}

.img_color_two p {
    font-size: 1rem;
    font-weight: 700;
    margin: 40px;
    color: #fff;
}

.img_color_three {
    background-color: rgba(36, 36, 36, 0.4);
    position: absolute;
    content: "";
    height: 100%;
    width: 100%;
}

.img_color_three p {
    font-size: 1rem;
    font-weight: 400;
    margin-left: 40px;
    margin-top: 140px;
    color: #fff;
}

.img_color_four {
    background-color: rgba(36, 36, 36, 0.4);
    position: absolute;
    content: "";
    height: 100%;
    width: 100%;
}

.img_color_four p {
    font-size: 1rem;
    font-weight: 400;
    margin: 20px 0 0 260px;
    color: #fff;
}

.img_color_five {
    background-color: rgba(30, 182, 50, 0.4);
    position: absolute;
    content: "";
    height: 100%;
    width: 100%;
}

.img_color_five p {
    font-size: 1rem;
    font-weight: 400;
    margin-left: 40px;
    margin-top: 150px;
    color: #fff;
}

.img_color_six {
    background-color: rgba(25, 28, 196, 0.4);
    position: absolute;
    content: "";
    height: 100%;
    width: 100%;
}

.img_color_six p {
    font-size: 1rem;
    font-weight: 400;
    margin-left: 40px;
    margin-top: 150px;
    color: #fff;
}

/* BMI Calculator style */
.bmi_header {
    display: flex;
    justify-content: center;
}

.bmi_content {
    background-color: #3d3c3c;
    padding: 52px 0;
}

.bmi_items {
    margin-bottom: 30px;
    display: flex;
    justify-content: space-between;
    /* gap: 170px; */
}

.calculator {
    width: 30%;
}

.calculator h4 {
    font-size: 28px;
    font-weight: 600;
    color: #ffffff;
    margin-bottom: 50px;
}

.bmi_items table {
    width: 100%;
    border-collapse: collapse;
}

.bmi_items th {
    border: 1px solid #adacac;
    text-align: start;
    padding: 10px;
    color: #fff;
    font-size: 16px;
}

.bmi_items td {
    border: 1px solid #adacac;
    padding: 10px;
    color: #9e9c9c;
    font-size: 14px;
}

.calculat {
    width: 50%;
}

.calculat_hader h4 {
    font-size: 28px;
    font-weight: 600;
    color: #ffffff;
}

.calculat_hader p {
    padding: 10px;
    color: #9c9b9b;
    font-size: 14px;
    margin-bottom: 30px;
}

.calculat_input {
    display: grid;
    grid-template-columns: repeat(2, 2fr);
    gap: 10px;
    margin-bottom: 10px;
}

.calculat_input input {
    padding: 13px;
    border-radius: 8px;
    background-color: #494949;
    border: none;
    color: rgb(197, 196, 195);
}

.calculat_input select {
    padding: 13px;
    border-radius: 8px;
    background-color: #494949;
    border: none;
    color: #7e7878;
}

.calculat_input select option {
    color: #868080;
}

.calculat_extra_select select {
    padding: 13px;
    border-radius: 8px;
    background-color: #494949;
    border: none;
    margin-bottom: 34px;
    color: #8f8e8e;
}

/* Meet Our team part style */

.team>.common_header {
    text-align: center;
    width: 700px;
    margin: 88px auto 58px;
}

.team_items {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 20px;
    background-color: #191919;
    padding: 20px;
    border-radius: 18px;
}

.team_img img {
    width: 100%;
    height: 270px;
    border-radius: 18px;
}

.team_img {
    position: relative;
}

.team_trainer {
    content: " ";
    position: absolute;
    top: 220px;
    left: 20px;
}

.team_img h5 {
    font-size: 20px;
    font-weight: 600;
    color: #fff;
}

.team_img p {
    font-size: 14px;
    color: #c5b8b8;
}

/* footer part style */
.footer_content {
    background-color: #191919;
    margin-top: 88px;
    padding: 66px 0 30px;
}

.footer {
    display: flex;
}

.footer_head {
    width: 46%;
}

.footer_head p {
    font-size: 14px;
    color: #868080;
    width: 80%;
    padding-top: 14px;
}

.footer_get_started h3 {
    font-size: 32px;
    font-weight: bold;
    color: #ffffff;
}

.get_started_items ul li {
    padding-top: 20px;
}

.get_started_items ul li a {
    color: #868080;
    font-size: 23px;

}

.footer_get_started {
    width: 27%;
}

.footer_content hr {
    margin: 79px auto 36px;
    border: none;
    border: 1px solid #4b4a4a;
}

.footer_content .right_pera p {
    font-size: 20px;
    color: #868080;
    margin: 0 auto;
    text-align: center;
}


/* Unique part style */
.workout_plans {
    padding: 50px;
    text-align: center;
    background-color: #191919;
    margin-top: 88px;
    border-radius: 15px;
}

.plan_content {
    display: flex;
    justify-content: space-around;
    flex-wrap: wrap;
}

.plan_item {
    background-color: #fff;
    border: 1px solid #ddd;
    border-radius: 8px;
    overflow: hidden;
    width: 30%;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    margin-bottom: 20px;
    transition: transform 0.3s ease;
    text-align: center;
}

.plan_item:hover {
    transform: scale(1.10);
}

.plan_item img {
    width: 100%;
    height: 250px;
}

.plan_item_info {
    padding: 20px;
}

.plan_item_info h3 {
    font-size: 1.5em;
    margin-top: 15px;
    color: #333;
}

.plan_item_info p {
    font-size: 14px;
    color: #868080;
    padding-top: 14px;
    margin-bottom: 15px;
}

/*----------------------------- responsive style --------------------------*/
/* for small device */
@media screen and (max-width: 576px) {
    .container {
        width: auto;
    }

    nav ul {
        display: none;
    }

    /* banner part queary */
    .banner {
        flex-direction: column;
        align-items: center;
        justify-content: center;
        gap: 48px;
    }

    .banner p br {
        display: none;
    }

    .Fitness_item i {
        display: block;
    }

    .banner_btn {
        display: flex;
        gap: 5px;
    }

    .banner_img {
        width: 330px;
        height: 580px;
    }

    .banner_text {
        margin-top: 2rem;
    }

    .banner_text h1 {
        font-size: 2.50rem;
        font-weight: bold;
        color: #ffffff;
    }

    .tutorial_box {
        position: relative;
        left: -4rem;
        top: -27rem;
    }

    .free_working_video {
        position: relative;
        right: -12rem;
        top: -32rem;
    }

    /* change your habit part style */
    .habits_items {
        display: flex;
        flex-direction: column;
    }

    .Habits p br {
        display: none;
    }

    .habits_texts {
        margin-bottom: 20px;
    }

    .habits_texts p {
        width: 50%;
        margin: 0 auto;
    }

    /* Run an Extra Mile Easily */
    .easily_content {
        flex-direction: column;
    }

    .easily_text {
        width: 80%;
        margin-left: 0px;
    }

    .easily_text h3 {
        width: 90%;
    }

    .easily_text .common-btn {
        padding-top: 1rem;
        padding-bottom: 1rem;
        width: 100%;
    }

    /* Trainings and Exercises */
    .s_device {
        display: none;
    }

    .first_img {

        width: 50% !important;
    }

    .img_color_four p {
        margin: 150px 0 0 40px;
    }

    /* BMI Calculator style */
    .bmi_items {
        display: flex;
        flex-direction: column;
        gap: 58px;
    }

    .calculator {
        width: 90%;
    }

    .calculat {
        width: 100%;
    }

    /* Meet Our team part style */
    .team>.common_header {
        text-align: center;
        width: 100%;
        margin: 88px auto 58px;
    }

    .team>.common_header p {
        width: 70%;
        text-align: center;
        margin: 10px auto 0;
    }

    .team_items {
        grid-template-columns: repeat(1, 1fr);
    }

    .team_img img {
        width: 100%;
        height: 350px;
        border-radius: 18px;
    }

    .team_trainer {
        top: 270px;
    }

    /* footer part style */
    .footer_content {
        background-color: #191919;
        margin-top: 88px;
        padding: 66px 0;
    }

    .footer {
        flex-direction: column;
    }

    .footer_head {
        width: 100%;
    }

    .footer_get_started {
        width: 100%;
        margin-top: 30px;
    }

    .footer_content .right_pera p {
        text-align: left;
    }


    /* Unique part style */
    .workout_plans {
        margin-top: 88px;
    }

    .plan_content {
        flex-direction: column;

    }

    .plan_item {
        width: 100%;
    }

}